<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}</title>
    <link rel="shortcut icon" type="image/png" href="http://abotars.hipch.at/bot/{{key}}.png">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/homepage.css'}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
  </head>

  <body id="aui-flatpack" class="aui-page-fixed">
    <section id="content" role="main">
      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-main intro-header">
            <div class="aui-group">
              <div class="aui-item addon-logo">
                <img src="http://abotars.hipch.at/bot/{{key}}.png" alt="{{name}}">

                <div>
                  <a href="https://www.hipchat.com/addons/install?url={{links.self}}" class="aui-button aui-button-primary"
                     title="Install this add-on in HipChat"><span
                      class="aui-icon aui-icon-small aui-iconfont-hipchat"></span>
                    Add to HipChat</a>
                </div>
              </div>
              <div class="aui-item">
                <h1>
                  {{name}}
                  <small class="vendor">By <a href="{{vendor.url}}">{{vendor.name}}</a></small>
                </h1>
                <p class="subtitle">
                  {{description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="aui-page-panel addon-intro-page">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-item">
            <div class="aui-group">
              <div class="aui-item">
                <p>
                  Roll some dice using the <code>/roll</code> command. Like this:
                </p>
                <ul>
                  <li>
                    <code>/roll d20</code>
                  </li>
                  <li>
                    <code>/roll 2d8+2</code>
                  </li>
                  <li>
                    <code>/roll 3d10-3</code>
                  </li>
                  <li>
                    <code>/roll [thing one|thing two|thing three]</code>
                  </li>
                  <li>
                    <code>/roll [ cat | dog | fish ]</code>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <footer id="footer" role="contentinfo">
          <section class="footer-body">
            <ul id="aui-footer-list">
              <li>Copyright © 2016 Robert Dennis</li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/">Atlassian</a></div>
          </section>
        </footer>
      </div>
    </section>
  </body>

</html>